# Application Environment (production | development)
ENVIRONMENT=development
APP_NAME=Logistix

# API Endpoints
API_URL=http://localhost:4000/v1
REFRESH_URL=http://localhost:4000/v1/auth/refresh
GRAPHQL_URL=http://localhost:4000/v1/graphql
WS_URL=ws://localhost:4000/v1/graphql/ws

# Branding & Support
CONTACT_SUPPORT_URL=""
TRACKING_LINK="https://track.logistix.com"

# Analytics & Monitoring
SENTRY_DSN=""

# Security & Identity
CLIENT_KEY="Lgx_..."
SYSTEM_MODE=MULTI_TENANT
