API_URL=http://localhost:4000/v1
APP_NAME=Logistix
CLIENT_KEY=
CONTACT_SUPPORT_URL=
ENVIRONMENT=development
GRAPHQL_URL=http://localhost:4000/v1/graphql
REFRESH_URL=http://localhost:4000/v1/auth/refresh
SENTRY_DSN=
SYSTEM_MODE=MULTI_TENANT
TRACKING_LINK=
WS_URL=ws://localhost:4000/v1/graphql/ws
